.App {
  background: linear-gradient(
    45deg,
    #e0fbfcff,
    #c2dfe3ff,
    #9db4c0ff,
    #5c6b73ff,
    #253237ff
  );
  color: whitesmoke;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-size: 3.25rem;
  font-weight: 600;
  margin: 2%;
  text-align: center;
}
.signin-container {
  margin: 4rem;
  padding: 1.5rem;
  // background: red;
  height: auto;
  width: 40%;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  @media screen and (max-width: 768px) {
    width: 80%;
    height: auto;
  }
}
.further-action-text {
  font-size: 18px;
  text-decoration: underline;
  font-weight: 600;
}
.signup-text {
  font-size: 16px;
  font-weight: 600;
  color: rgb(51, 51, 51);
  margin: 1%;
}
.label-text {
  color: black;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: right;
}

.helper-text {
  display: flex;
  justify-content: space-around;
}

.submit-btn {
  display: flex;
  justify-content: center;
}
